/* App.ts */

.app-container {
  min-height: 100vh;
  overflow: hidden;
}

.container-grey {
  background-color: #ededed;
  padding-block: 3rem;
}

.container-white{
  background-color: #ffffff;
  padding-block: 3rem;
}

/* App.ts */

/* FirstEntry.ts */
.first-entry-container {
  min-height: 80vh;
  overflow: hidden;
  background-color: #343F4F;
  padding-inline: 6rem;
}

.text-entry-wrapper {
  z-index: 999;
  display: inline-flex;
  overflow: hidden;
}


.text-entry-wrapper .static-txt {
  font-size: 60px;
  color: #fff;
  font-weight:400 ;
}

.text-entry-wrapper .dynamic-txts {
  height: 90px;
  line-height: 90px;
}

.dynamic-txts li {
  list-style: none;
  font-size: 60px;
  font-weight:500 ;
  color: #FC6D6D;
  position: relative;
  top:0;
  animation: slide 4.5s steps(3) infinite;
}

@keyframes slide {
  100% {
    top: -270px
  }
}

.dynamic-txts li span{
  position: relative;
}

.dynamic-txts li span::after {
  content: "";
  margin-top: 16px;
  position: absolute;
  height: 100%;
  left: 0;
  width: 100%;
  margin-left: 15px;
  background-color: #343F4F;
  border-left: 2px solid #FC6D6D;
  animation-delay: 0.5s;
  animation: typing 1.5s steps(15) infinite ;
}

@keyframes typing {
  100% {
    left: 100%;
  }
}

.avatar {
  max-width: 100%;
  max-height: 80%;
}

.text-headline{
  text-align: justify;
  color: #ffffff;
  opacity: 0.7;
}

.first-entry-button {
  background-color: #FC6D6D !important ;
  border-color: #FC6D6D !important;
  width: -moz-fit-content !important;
  padding-inline: 2rem !important;
  padding-block: 0.75rem !important;
  width: fit-content !important;
  font-size: 1.25rem !important;
  font-weight: 600 !important;
  margin-top: 2rem !important;
  margin-left: auto;
  align-self: flex-end;
}

.first-entry-text-wrapper {
  padding-block: 2rem;
}



@media only screen and (max-width: 615px) {
  .first-entry-container{
    padding-block: 2rem;
  }
  .text-entry-wrapper {
    display: none;
  }
  .avatar-container{
    margin-block: 2rem;
  }
}

@media only screen and (min-width: 723px) {
  .first-entry-text-wrapper{
    padding-inline: 4rem;
  }
}

@media only screen and (max-width: 767px) {
  .first-entry-container{
    padding-inline: 2rem ;
  }

  .first-entry-container h4 {
    text-align: center;
  }
}
/* FirstEntry.ts */

/* Navbar */
.font-18px {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-inline: 5px;
}

.brand {
  font-weight: 600;
  color: #FC6D6D;
  letter-spacing: 1px;
  font-style: italic;
}

.nav-active {
  color: #FC6D6D !important;
  border-bottom: 4px solid #FC6D6D;
}

/* AboutMe.ts */
.text-header {
  font-weight: 600;
  color: #FC6D6D !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

/* AboutMe.ts */
.sub-text{
  font-size: 19px;
  font-weight: 500;
}
/* Education.ts */

.text-card {
  /* text-align: center; */
  margin-top: 1.5rem;
  color: #FC6D6D;
  font-weight: 600;
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 5px !important;
}

.card-title {
  color: #EC4747;
  font-weight: 700 !important;
}
.card-block-info {
  border-bottom: 1px solid rgb(161, 161, 161);
  display: flex;
  justify-content: space-between;
  padding-block: 8px;
  margin-bottom: 8px !important;
}

.text-important{
  color: #EC4747
}

/* project.ts */

.redirect-link{
  text-decoration: none;
  color: #EC4747
}

.redirect-link:hover{
  color: #FC6D6D;
}

.text-decor-none {
  list-style-type: none;
}

.button-custom {
  width: fit-content !important;
  width: -moz-fit-content !important;
  background-color: #FC6D6D  !important;
  border: none !important;
  padding-inline: 2rem !important;
  font-size: 18px !important;
  margin-top: 2rem !important;
  
}

.redirect-link-white{
  text-decoration: none;
  color: #ffffff
}

.redirect-link-white:hover{
  color: #ffffff
}

.bg-white {
  background-color: #ffffff !important;
}

.text-deco-none {
  text-decoration: none !important;
}

.center-div{
  display: flex;
  align-items: center;
}


